<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<%= link_to 'Become a User', 'users/new' %>
<%= link_to 'Login', 'sessions/new' %>
<%= link_to 'See our Products', 'products/show' %> 
<!-- need to create a link to all products, or a new main page since this is the index route -->





